.head{
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center
}

.name{
  text-decoration: bold;
  font-size: 30px;
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center
}

.grade{
  text-decoration: bold;
  font-size: 25px;
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center;

}