.bar{
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin: 10px;
  height: 20px;
  width: 40%;
}

.box{
   background-color: #9fd3c7;
   border:2px solid #ececec;
}

.text{
  color: #142d4c;
}

.text:hove