

.bar{
  margin-left: auto;
  margin-right: auto;
  padding: 12.5px;
  height: 20px;
  width: 100%;
  margin-bottom: 15px;
  background-color: #9fd3c7;
  border:2px solid #142d4c;
}

.box{
   background-color: #9fd3c7;
   border:2px solid #ececec;
   margin-left: auto;
   margin-right: auto;
   padding: 10px;
   margin: 0 auto;
   

}

.text{
  color: #142d4c;
  text-decoration: none;
}

.text:hover{
  text-decoration: underline;
}

.back{
  background-color: #ececec;
}